<!DOCTYPE html>
<html>
<head>
  <title>Acid test</title>
<style type="text/css">
body { background-color: #CFCDC2;color: #000; text-align: center;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
table {
    border: solid;
    border-width: 1px;
    margin-left: 50px;
    border-collapse: collapse;
}
table td, th {
    padding: 10px;
    border: 1px solid;
}
table tr, td {
    padding: 4px;
}
table th {
    padding: 10px;
}
</style>
</head>
<body>
<%= yield %>
</body>
</html>
